/* CSS file for FlashCards */
body {
    background: url(./images/denmarkBackground.png) no-repeat center center/cover;
    background-color: rgba(255,255,255,0.9);
    background-blend-mode: lighten;
    height: 100vh;
    display: flex;
    justify-content: center; /* adjust positioning on the main axis */
    gap: 40px;
    margin-top: 55px;
    flex-wrap: nowrap;
}

.welcomeCard {
   background-image: url(./images/flag\ Danmark101.jpg);
   background-color:rgba(255,255,255,0.9);
   width: 600px;
  height: 425px;

   border-radius: 20px;
   margin: auto;

}

.welcome {
   font-family: Arial, Helvetica, sans-serif;
   font-size: larger;
   font-weight: 500;
   color: white;
}

.bodyText{
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   gap: 40px;
   margin-top: 55px;
   

}

.startButton{
   margin: auto;
   font-size: larger;
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-color: white;
   padding: 10px 20px;
   font-style: oblique;
   color: red;
   border-color: red;
   border-radius: 10px;
   gap: 40px;
   margin-top: 55px;
   
}

.welcome{
   color: red;
   border-bottom: solid red;
   padding-bottom: 30px;
  
}

.bodyText{
   color: red;
   margin-top: 0%;
}

.top-welcome {
   width: 488px;
   height: 217px;
   text-align: center;
   justify-content: center;
}
.button-container3 {
    position: fixed;
    bottom: 145px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;  /* Center horizontally */
    gap: 200px;                 /* Space between buttons */
    z-index: 1000;
  }

  .create-card-button {
    width: 370px;
    height: 60px;
    background-color: white;
    border: 5px solid #FE3F42;
    color: #FE3F42;
    font-family: 'Arial'; /* Font type */
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer; /* A "hand" appears when the cursor is on a button*/
    border-radius: 32px;
    transition: background-color 0.3s, color 0.3s;
  }

  .create-card-button:hover {
    background-color: #FE3F42;
    color: white;
  }
