/* CSS file for FlashCards */

/* Background */
body {
   margin: 0;
   padding: 0;
    background: url(./images/denmarkBackground.png) no-repeat center center/cover;
   background-color: rgba(255,255,255,0.9);
   background-blend-mode: lighten;
   height: 100dvh;
   min-height: 100vh;
   justify-content: center; /*  vertical alignment*/
    align-items: center;    /*  horizontal alignment*/
   flex-wrap: nowrap; 
   display: flex;
   flex-direction: column;
}

/* Header: "Made by Matea, Angela, Maria and Tatiana with ReDi" */
.header {
   position: fixed;
   top: 0;
   left: 0;
   font-family: "Arial", "Helvetica", "sans-serif";
   color: #FE3F42;
   width: 100%;
   height: 50px;
   text-align: center;
   opacity: 70%;  
}

/* "Welcome" and  "Learn more about Denmark" div */
.top-welcome, .gameButtonContainer {
   width: 440px;
   height: 150px;
   text-align: center;
   justify-content: center;
   
}

/* "Welcome" p */
.welcome{
   font-family: "Arial", "Helvetica", "sans-serif";
   font-size: 24px;
   color: #FE3F42;
   border-bottom: solid #FE3F42;
   padding-bottom: 10px;
}

/* "Learn more about Denmark" p */
.bodyText{
   font-family: "Arial", "Helvetica", "sans-serif";
   font-size: 20px;
   color: #FE3F42;
   margin-top: 0%;
}

/* Red card on main page */
.welcomeCard {
   background-image: url(./images/flag\ Danmark101.jpg);
   width: 600px;
   height: 425px;
   border-radius: 32px;
   bottom: 15%;
   opacity: 0.8;
}


/* .startButton{
   margin: auto;
   font-size: larger;
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-color: white;
   padding: 10px 20px;
   font-style: oblique;
   color: red;
   border-color: red;
   border-radius: 10px;
   gap: 40px;
   margin-top: 55px;
}
   */

/*.button-container3 {
   /* position: absolute;
   gap: 100px; 
   bottom: 0%;
    position: fixed;
    bottom: 145px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;  /* Center horizontally 
    gap: 150px;                 /* Space between buttons 
    z-index: 10;
  }
*/

/* All buttons */
  .button {
    width: 280px;
    height: 60px;
    background-color: white;
    border: 5px solid #FE3F42;
    color: #FE3F42;
    font-family: 'Arial'; /* Font type */
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    cursor: pointer; /* A "hand" appears when the cursor is on a button*/
    border-radius: 32px;
    transition: outline 0.0s ease;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .button:hover {
    outline: 5px solid #FE3F42; /* adds extra visual thickness without affecting layout */
    outline-offset: -3px;     /* moves the bolded border inside */
    font-weight: bold;   /* changes also the thicknes of letters */
 }
 .button:active {
    background-color: white;
    color: red;
 }

.container {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.bodyquestion{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* position the front and back side */
.card {
   position: relative;
   width: 600px;
   height: 425px;
   text-align: center;
   transition: transform 1.3s;
   transform-style: preserve-3d;
}

.card:active {
   transform: scale(0.97);
   transition: transform .2s;
}

.card.flip {
   transform: rotateY(180deg);
}
.front,
.back{
   height: 500px;
   width: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px ;
   font-family: Arial, Helvetica, sans-serif;
   border-radius: 32px;
   position: absolute;
   color: white;
}

.front{
   background: linear-gradient(#87A9AA);
   z-index: 2;
   backface-visibility: hidden;
   position: absolute; 
}

.back{
   background: linear-gradient(#87A9AA);
   z-index: 1;
   transform: rotateY(180deg);
}

/* flip when you move the mouse over .card */
/* .container:hover .card{ 
   transform: rotateY(180deg);
}  */

/* .container{
   perspective: 1000px;
   width: 500px;
} */

.clickHere { 
   font-family: Arial, Helvetica, sans-serif;
   color: #FE3F42;
   justify-content: center;
   text-align: center;
   position: absolute;
   bottom: 100px;
}

#danishWord { 
   justify-content: center;
   text-align: center;
}
/* style of popup container and modal container */
.popupContainer, .modalContainer {
   width: 430px;
   height: 420px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.1);
   visibility: hidden;
   transition: transform 0.4s, top 0.4s; 
   background-color: rgba(255,255,255,0.9);
   border-radius: 30px;
   animation-name: animatewindow;
   animation-duration: .4s;
   z-index: 15;  /* has to be the top most position */
   padding: 10px;
   padding-left: 20px;
}
/* animate appearing window */
@keyframes animatewindow {
    from {
        top: -300px;
        opacity:0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}
/* style of popup window and modal window*/
  .popup, #modal {
    width: 400px;
    height: 325px;
    border: solid #87A9AA 8px;
    border-radius: 32px;
    opacity: 100%;
    margin: 10px;
    color: #FE3F42;
    font-family: 'Inria Serif'; /* Font type */
  }

  /* dim the background when button clicked */
  #overlay {
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  backdrop-filter: blur(3px);
  z-index: 14; 
  cursor: pointer;
  }

   /* buttons in popup window for cards download and modal for two player game */
  .buttonPopup {
    width: 200px; 
    height: 50px;
    background-color: white;
    border: 3px solid #FE3F42;
    color: #FE3F42;
    font-family: 'Arial'; /* Font type */
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer; /* A "hand" appears when the cursor is on a button*/
    border-radius: 32px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 15px;
    margin-left: 10px;
  }

  .buttonPopup:hover {
    background-color: #FE3F42;
    color: white;
  }
   
  /* change colof of button when clicked */
  .buttonPopup:active {
    background-color: white;
    color: red;
  }

  #yesButton {
    margin-right: 10px;
  }
   /* popup window opens */
  .open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}
   /* json icon styling */
  #icon {
    width: 55%;
    position: relative;
    left: 25%;
    bottom:10%;
  }

  /* TWO PLAYER MODE PAGE STYLING */

  /* dimming and bluring background to be set as default */
  #overlayTwo {
  position: fixed; 
  display: block;
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  backdrop-filter: blur(3px);
  z-index: 14; 
  cursor: pointer;
  }

/* style for return to home page button */
  #returnToMain {
   position: absolute;
   margin-top: 25px;
   margin-left: 75px;
  }

  /* style for restart game button*/
  #restartButton {
   position: absolute;
   right: 9%;
   margin-top: 25px;

   
  }

  /* create players button and div */
#modal {
   text-align:center;
   vertical-align:middle; 
   display:table-cell;
}

.playerInput {
   margin: 20px 0px;
}

/* styling name boxes for players */
.playerBox {
   background-color: white;
   border: 3px solid #FE3F42;
   color: #FE3F42;
   font-family: 'Arial'; /* Font type */
   font-size: 20px;
   border-radius: 32px;
   height: 300px;
   width: 200px;
   padding: 15px;
   margin: 60px;
   margin-top: 150px;
}

/* style the score box */
.score {
   color: #FE3F42;
   font-family: 'Arial'; /* Font type */
   font-size: 4rem;
   margin-top: 20px;
   text-align: center;
   position: center;
}

/* style for answer box */
.answer {
   color: #FE3F42;
   font-family: 'Arial'; /* Font type */
   font-size: 20px;
   margin-top: 20px;
   text-align: center;
   position: center;
}

.playerName {
   text-align: center;
   position: center;
}

/* style for answer input */
.answerInput {
   color: #FE3F42;
   font-family: 'Arial'; /* Font type */
   font-size: 20px;
   width: 400px;
   height: 50px;
   margin-top: 60px;
   max-width: 200px;
   text-align: center;
}

.answerLabel {
   display: flex;
   flex-direction: column; 
   text-align: center;
   gap: 10px;
}

.submit {
   background-color: white;
   border: 3px solid #FE3F42;
   color: #FE3F42;
   font-family: 'Arial'; /* Font type */
   border-radius: 32px;
   margin-top: 10px;
   width: 100px;
   height: 25px;
}

/* container for the create new button, needs to disappear after creating players */
.gameButtonContainer {
   background-color: transparent;
   z-index: 15;
   width: 500px;
   height: 100px;
   top: 4%;
   display: block;
} 


#frontPage {
   position: absolute;
   top: 10%;
}

  #btn-next1, #btn-next2, #btn-next3{
   position: absolute;
   right: -0%;
   bottom: 10%;
}

#btn-back1, #btn-back2, #btn-back3{
   position: absolute;
   left: -0%;
   bottom: 10%;
}








    /* ANDJELA LINES START */
    
/* Danmark 101 button */
#Danmark101Button {
    width: 370px;
    height: 60px;
    font-size: 32px;
    margin-top: 200px;
    margin-bottom: 50px;
}

/* card */
.cardFront {
    background-color: #87A9AA;
    width: 600px;
    height: 425px;
    border-radius:32px;
}

/* image inside the card */
.imageInsideTheCard {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.placeForText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* input element */
input {
    display: block;
    width: 80%;
    padding: 5px;
    margin:5px;
    color: #FE3F42; /* color of text that user inputs */
    font-family: 'Arial', "Helvetica", "sans-serif"; /* Font type */
    text-align: center;
    background-color: white;
    opacity: 70%;
    border-radius: 10px;
    border-color: #87A9AA;
    outline-color: #87A9AA;
      
}
/* text inside input element */
input::placeholder {
    color: blue;
    text-decoration: underline;
}






























































































     /* ANDJELA LINES STOP */



  /* MARIA LINES START */




































































































 /* MARIA LINES STOP */



  /* MATEA LINES START */



































































































/* MATEA LINES STOP */